<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="__PUBLIC__/Admin/image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/app.css">
</head>
<body data-type="generalComponents">


<include file="top"/>


<div class="tpl-page-container tpl-page-header-fixed">
    <include file="header"/>

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            Amaze UI 表单
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">表单</a></li>
            <li class="am-active">Amaze UI 表单</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                     修改零件信息
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">

                            <input type="text" class="form-control form-control-solid" placeholder="搜索..."></div>
                    </div>
                </div>


            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">


                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal" method="post" action="__URL__/dcsave">
                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">零件种类</label>

                                <div class="am-u-sm-9">
                                    <select name="cid" id="" class="am-u-sm-3 am-form-label">
                                        <option value="0">请选择</option>
                                        <volist name="info" id="vo">
                                            <option value="{$vo.cid}"
                                            <if condition="$infos['cid'] eq $vo['cid']">selected = "selected"</if>
                                            >{$vo.componentname}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="did" value="{$infos.did}">

                            <div class="am-form-group">
                                <label for="user-name" class="am-u-sm-3 am-form-label">零件名称</label>

                                <div class="am-u-sm-9">
                                    <input type="text" name="dcname" id="user-name" value="{$infos.dcname}"
                                           placeholder="零件名称">
                                </div>
                            </div>
                            <input type="hidden" name="dcid" value="{$infos.dcid}">

                            <div class="am-form-group">
                                <label for="user-price" class="am-u-sm-3 am-form-label">零件价格</label>

                                <div class="am-u-sm-9">
                                    <input type="text" name="dcprice" id="user-price" value="{$infos.dcprice}"
                                           placeholder="零件价格">
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="submit" class="am-btn am-btn-primary" value="修改零件"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>


<script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/Admin/assets/js/app.js"></script>
</body>

</html>